<tracker-navbar></tracker-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <combat-options></combat-options>
        </div>
        <div class="col-md-9">
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <combat-carousel></combat-carousel>
                </div>
            </div>
            <div class="row">
                <combatant-grid></combatant-grid>
            </div>
        </div>
    </div>
</div>

<tracker-footer></tracker-footer>